<!DOCTYPE html >
<html >
   <head >
        <meta charset = "UTF-8" >
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no" >
        <title > 什么值得买--手机top10 < /title >
        {% load static % }
        <link rel = "stylesheet" href = "{% static "css/bootstrap.min.css" %}" >
        <script src = "{% static "js/jquery.slim.min.js" %}" > </script >
        <script src = "{% static "js/bootstrap.min.js" %}" > </script >
    </head >
    <body >
        <nav class = "navbar navbar-dark bg-dark">
            <a class = "navbar-brand" href="/">首页</a>
        </nav >
        <div class = "container">
            <h3 class = "mt-5 mb-3">{{title}}<br>平均得分:{{markavg.mark__avg}}</h3>
            <table class = "table">
                <thead class = "thead-light">
                   <tr >
                        <th scope = "col" class="text-nowrap">评论</th>
                        <th scope = "col" class="text-nowrap">情感评分</th>
                    </tr >
                </thead >
                <tbody >
                    { % for comment in comments % }
                    <tr >
                        <td > {{ comment.content }}</td>
                        <td > {{ comment.mark }}</td>
                    </tr >
                    { % endfor % }
                </tbody >
            </table >
        </div >
    </body >
</html >
